/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Outfit:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
body {
     font-family: 'Poppins', 'Outfit', sans-serif;
     background-color: #FFF;
}

.btn-tendering {
     background: linear-gradient(93.46deg, #76DBB3 -4.05%, #2DC589 100.8%);
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
     border-radius: 8px;
     padding: 13px 28px;
     border: 0;
     outline: 0;
     transition: 0.5s all;
}

a {
     text-decoration: none;
}

.btn-tendering a {
     font-weight: bold;
     font-size: 18px;
     line-height: 23px;
     color: #FFFFFF;
     font-family: Outfit;
}

/* Start Nav Bar Styles */
.navbar {
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
     background-color: #fff;
     z-index: 9999;
}

.navbar-toggler:focus {
     box-shadow: none;
}

.navbar-collapse {
     flex-grow: 0;
}

.navbar .navbar-brand {
     order: 1;
}

.navbar .navbar-collapse {
     order: 2;
}

.navbar .tendering {
     order: 3;
}

.navbar .navbar-collapse .nav-item {
     margin: 0 15px;
}


.navbar .navbar-collapse .nav-item .nav-link {
     font-weight: 500;
     font-size: 18px;
     line-height: 27px;
     color: #000000;
}


/* End Nav Bar Styles */

/* Start Footer Style */

#footer {
     background: #222731;
     padding: 50px 0;
}

#footer .row.first {
     justify-content: space-between;
     align-items: center;
}

#footer .list-footer {
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0;
     margin: 0;
}

#footer .list-footer .item-footer a {
     font-family: Poppins;
     font-weight: 500;
     font-size: 18px;
     line-height: 27px;
     transition: all 0.4s;
     color: #FFFFFF;
}

#footer .list-footer .item-footer a:hover {
     color: #124BD8;
}

#footer p {
     font-family: Poppins;
     font-weight: 500;
     font-size: 18px;
     line-height: 27px;
     color: #FFFFFF;
}

#footer hr {
     height: 2px;
     width: 100%;
     color: #FFF;
     display: none;
}

/* End Footer Style */

/* Start Home Section in Index.html */
#home .home-content .p-special {
     font-family: Nunito;
     font-weight: bold;
     font-size: 15px;
     line-height: 20px;
     color: #6311F8;
     text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.05);
     margin-bottom: 10px;
}

#home .home-content .home-titel {
     font-family: Outfit;
     font-weight: 700;
     font-size: 42px;
     line-height: 53px;
     color: #2F2F2F;
     text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.05);
     margin-bottom: 30px;
}

#home .home-content .desc {
     font-family: Nunito;
     font-weight: 400;
     font-size: 24px;
     line-height: 33px;
     color: #2F2F2F;
     text-shadow: 5px 0px 15px rgba(0, 0, 0, 0.05);
}

#home .home-flags .flag-item {
     background: #FFFFFF;
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
     border-radius: 6px;
     padding: 11px 20px;
     width: 240px;
     position: absolute;
     display: flex;
     justify-content: start;
     align-items: center;
     font-family: Outfit;
     font-weight: bold;
     font-size: 20px;
     line-height: 25px;
     color: #000000;
}

#home .home-flags .flag-item img {
     margin-right: 10px;
}

#home .home-flags .flag-item.one {
     top: 28px;
     left: 0px;
     z-index: 3;
}

#home .home-flags .flag-item.two {
     top: 32%;
     right: -53px;
     z-index: 5;
}

#home .home-flags .flag-item.three {
     bottom: 43px;
     left: 46px;
     z-index: 5
}

#home .home-img .girl-img {
     position: absolute;
     top: 18px;
     z-index: 4;
     left: 0;
}

/* End Home Section in Index.html */






/* Media Query In All Devices */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
     .container {
          padding: 0;
     }

     .navbar .navbar-collapse .nav-item {
          margin: 0;
     }

     .navbar .navbar-collapse .nav-item .nav-link {
          font-size: 15px;
     }

     .navbar .navbar-brand {
          width: 30%;
     }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
     .container {
          max-width: 90%;
     }

     .navbar .navbar-brand {
          order: 1;
          width: 40%;
     }

     .navbar .tendering {
          order: 2;
     }

     .navbar .tendering a {
          font-size: 15px;
     }

     .navbar .navbar-toggler {
          order: 3;
     }

     .navbar .navbar-collapse {
          order: 3;
          text-align: center;
          padding: 20px 0;
     }

     .navbar .navbar-collapse .nav-item .nav-link {
          font-size: 18px;
     }

     #footer .row:first-child {
          justify-content: center;
     }

     #footer .row.first .col-md-6:nth-child(1) {
          width: 75%;
          text-align: center;
     }

     #footer .list-footer {
          flex-direction: column;
     }

     #footer .list-footer .item-footer {
          margin: 35px 0;
          text-align: center;
     }

     #footer hr {
          display: block;
     }

     #footer p {
          text-align: center;
     }

     #home .home-flags .flag-item {
          width: 200px;
     }

     #home .home-flags .flag-item.two {
          top: 37%;
          right: -14px;
     }

     #home .home-img .girl-img {
          width: 100%;
     }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

     .navbar .navbar-brand {
          width: 55%;
     }

     .navbar .navbar-toggler {
          width: 20%;
     }

     .navbar .tendering {
          display: none;
     }

     .navbar .navbar-brand {
          order: 1;
     }


     .navbar .navbar-toggler {
          order: 2;
     }

     #home .row .col-md-6:nth-child(1) {
          order: 2;
          padding-top: 0;
     }
}

@media (max-width: 575.98px) {
     .container {
          padding: 0;
     }

     #footer .row.first .col-md-6:nth-child(1) {
          width: 100%;
     }

     #footer .row:last-child .col-md-8 {
          order: 2;
          padding-top: 40px;
     }

     #footer .list-footer .item-footer a {
          font-size: 16px;
          line-height: 24px;
     }

     #footer .row:last-child .col-md-3 {
          order: 1;
     }

     #footer .row:last-child .col-md-8 p {
          font-size: 14px;
          line-height: 21px;
     }

     #home .home-flags .flag-item {
          width: 140px;
          font-size: 16px;
          padding: 5px;
     }

     #home .home-flags .flag-item img {
          width: 23px;
          height: 26px;
     }

     #home .home-flags .flag-item.one {
          top: 1px;
          left: 34px;
     }

     #home .home-flags .flag-item.two {
          top: 24%;
          right: 2px;
          z-index: 5;
     }


     #home .home-flags .flag-item.three {
          bottom: 11px;
          left: 35px;
          z-index: 5;
     }
}